/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding: 20px;;
}
h1{
    text-align: center;
}
model-viewer {
    position: relative;
    float: left;
    height: 50vw;
    width: 50%;
  }